@model IEnumerable<ReviewsSite.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/Views/Review/Index.css" />
</head>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3> Game </h3>
            </th>
            <th>
                <h3> Rating </h3>
            </th>
            <th>
                <h3> Reviewer </h3>
            </th>
            <th>
                <h3> Review </h3>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td id="videoGameName">
                @item.VideoGame.Name
            </td>
            <td id="rating">
                @item.Rating
            </td>
            <td id="username">
                @item.Username
            </td>
            <td id="review">
                @item.Usercomment
            </td>
        </tr>
}
    </tbody>
</table>
