<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", required:false)
</head>
<body>
    <nav style="background-color: black; justify-content: center; width: 100%; display: flex; flex-flow: row; position:fixed; top:0; left:0" >
        <a href="/VideoGame/Index" style="padding: .5em 2em; color: white"> Video Games </a>
        <a href="/Review/Index" style="padding: .5em 2em; color: white"> All Reviews </a>
    </nav>
    @RenderSection("Scripts", required: false)
    <div>
        @RenderBody()
    </div>
</body>
</html>
