<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel = "stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DotGothic16"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata"/>
    @RenderSection("Styles", required:false)
</head>
<body>
    @RenderSection("Scripts", required:false)
    <div>
        @RenderBody()
    </div>
</body>
</html>
