:root {
    --main-color: #016236; /*forest green*/
    --accent-dark: #06040A; /*blue-black*/
    --accent-light: #02894B; /*emerald green*/
    --accent-background: #BED3AB; /*seafoam green*/
    --main-font: 'Inconsolata';
    --header-font: 'DotGothic16';
    --text-light: #BED3AB;
}

table {
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
}

#ReviewTable {
    color: var(--text-light);
}

table thead tr th h3 {
    font-family: var(--main-font), Tahoma, sans-serif;
    color: var(--accent-dark);
    font-weight: bold;
    font-size: 18px;
}

table tbody tr td {
    background-color: var(--main-color);
    font-family: var(--main-font), Verdana, sans-serif;
    color: var(--text-light);
    font-size: 14px;
    padding: .5rem;
}

table tbody tr #rating {
    font-weight: bold;
    text-align: center;
}

table tbody tr #videoGameName {
    text-align: center;
}

table tbody tr #username {
    text-align: center;
}

table tbody tr #EditDeleteLinks a {
    color: var(--text-light);
    text-decoration: none;
}

table tbody tr #EditDeleteLinks a:hover {
    color: var(--accent-dark);
    text-decoration: none;
    background-color: var(--accent-background)
}